<div ng-controller="CalendarController as vm">
  <div ng-repeat='b in vm.calendarPosts | orderBy:"createdDate" '>
    <div layout="row" layout-align="center center">
      <md-card ng-show="b.isConfirmed">
        <md-card-content flex>
          <h1 class="md-title">Title: {{b.title}}</h1>
          <h1 class="md-title">Date: {{b.createdDate | date}}</h1>
          <h1 class="md-title">Currency: {{b.currency}}</h1>
          <md-button ng-show="b.createdBy === nav.status.id" ng-click='vm.jobCom(b)' class='md-raised md-accent'>Job Completed</md-button>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
