<div ng-controller="CalendarController as vm">
  <div ng-repeat='b in vm.calendarPosts | orderBy:"createdDate" '>
    <md-card>
        <md-card-content>
          <h1 class="md-title">Title: {{b.title}}</h1>
          <h1 class="md-title">Date: {{b.createdDate | date}}</h1>
          <h1 class="md-title">Currency: {{b.currency}}</h1>

          <md-button ng-click='vm.jobCom(b)' class='md-raised md-accent'>Job Completed</md-button>

        </md-card-content>
      </md-card>

  </div>
</div>




<!-- <md-card>
    <md-card-content>
      <h1 class="md-title">Title: {{b.title}}</h1>
      <h1 class="md-title">Date: {{b.createdDate | date}}</h1>
      <h1 class="md-title">Currency: {{b.currency}}</h1>
    </md-card-content>
  </md-card> -->
