<div ng-controller="JobDetailsController as vm">
  <div layout="row" layout-wrap>
    <div flex="25">
    </div>
    <div flex="50">
      <div >
        <md-card>
          <md-card-content>
            <div layout="row">
              <md-menu class="md-menu-toolbar" ng-show="vm.userType.isCreator && !vm.showEditJob">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                  <i class="zmdi zmdi-menu zmdi-hc-2x"></i>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="vm.editJob()">Edit</md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="vm.deleteJob(vm.job._id)">Delete</md-button>
                  </md-menu-item>
                </md-menu-content>
              </div>
              <div ng-show="vm.job.isConfirmed" style="text-align: center;" class="appliedCheck">
                <i class="zmdi zmdi-thumb-up"></i><span style="font-size:24px; font-weight:700;"> Handshake Complete!</span>
              </div>
              <div ng-show='vm.job.chosenApp.length > 0 && vm.userType.isApplicant && !vm.job.isConfirmed'>
                <p class="congrats">Congratulations, you have been selected!</p>
              </div>
              <div style="text-align: center;" ng-show="vm.userType.isApplicant && vm.job.chosenApp.length === 0" class="appliedCheck">
                <i class="zmdi zmdi-check-circle"></i> You Have Applied!
              </div>
              <div ng-show="!vm.showEditJob" style="text-align: center;">
                <h2 class="md-title jobTitle">{{vm.job.title | uppercase}}</h1>
                  <h3 class="md-title"><span class="detailsHeadings">Posted By: </span>{{vm.job.createdByUsername | uppercase}}</h3>
                  <h3 class="md-title"><span class="detailsHeadings">Job Date: </span>{{vm.job.createdDate | date}}</h3>
                  <h3 class="md-title"><span class="detailsHeadings">Details: </span>{{vm.job.details}}</h3>
                  <h3 class="md-title"><span class="detailsHeadings">Location: </span>{{vm.job.location.street}}, {{vm.job.location.city}}, {{vm.job.location.state}}, {{vm.job.location.zip}}</h3>
                  <h3 class="md-title"><span class="detailsHeadings">Categeory: </span>{{vm.job.categeory}}</h3>
                  <h3 class="md-title">
                    <div class="currencyIcons"><i class="zmdi zmdi-plus-circle"></i> {{vm.job.currency}} points </div></h3>
                  </div>
                  <!-- <label>Rating</label>
                  <md-select ng-model="vm.job.rating" ng-required="true">
                  <md-option value='5'>5 Excellent</md-option>
                  <md-option value='4'>4</md-option>
                  <md-option value='3'>3</md-option>
                  <md-option value='2'>2</md-option>
                  <md-option value='1'>1</md-option>
                </md-select> -->
                <!-- <h2 class="md-title">Applicants List: {{vm.job.applicants}}</h2> -->
                <!-- <h2 class="md-title">Chosen Doer: {{vm.job.chosenApp.name}}</h2> -->
                <div ng-show="vm.userType.isCreator" style="text-align: center;">
                  <div ng-show="vm.job.chosenApp.length === 0">
                    <div ng-show="!vm.showEditJob">
                      <h2 class="applicantH2">Applicants:</h2>
                      <h4 ng-show="vm.job.applicants.length === 0">There are no current applicants</h4>
                      <div ng-repeat='a in vm.job.applicants' layout='row' style="padding-left: 140px;">
                          <md-switch class="md-primary md-block" aria-label="Switch 6" ng-model="data.cb5">
                            <div ng-show="data.cb5">
                              <md-button style="background-color: #DFD9E2;"
                                flex class='md-raised md-primary' style='max-width: 600px'> View {{a.username}}'s Profile
                              </md-button>
                            </div>
                            <div ng-hide="data.cb5">
                              <md-button style="background-color: #427AA1;" ng-click='vm.chooseApplicant(a)' ng-disabled='vm.job.chosenApp.length > 0'
                                flex class='md-raised md-primary' style='max-width: 200px'> Select {{a.username}}
                              </md-button>
                            </div>
                          </md-switch>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="vm.userType.isApplicant">
                  <div ng-show="vm.job.chosenApp.length === 0">
                    <div ng-repeat='a in vm.job.applicants' layout='row' layout-align="center center">
                      <md-button ng-show="a.applicant==nav.status.id" flex ng-click="vm.deleteApplicant(vm.job._id, a._id, $index)" class="md-raised" style="background-color:#B0D0D3;">Remove Your Application</md-button>
                    </div>
                  </div>
                </div>
                <div ng-show='vm.job.chosenApp.length > 0' style="text-align: center;">
                  <h2 class="applicantH2">Chosen Applicant: </h2>
                  <div ng-repeat='chooser in vm.job.chosenApp' layout='row' layout-align="center center">
                    <p class="chosenApplicantName">{{chooser | uppercase}}</p>
                  </div>
                </div>
                <!-- 'c != nav.status.username || c.job.isConfirmed'  -->
                <div class="md-actions" layout="row" layout-align="center center">
                  <md-button class="jobDetailsButton2" ng-show="!vm.job.isConfirmed && vm.userType.isApplicant && vm.job.chosenApp.length > 0" ng-click='vm.appAccept(chooser)' class='md-raised md-primary'>Handshake</md-button>
                  <md-button class="jobDetailsButton" ng-if="!vm.userType.isCreator" class="md-accent md-raised">Message Job Poster</md-button>
                  <md-button class="jobDetailsButton" ng-if="vm.userType.isNobody" ng-click="vm.applyJob(vm.job);" class="md-accent md-raised">Apply</md-button>
                </div>
                <!-- ========= In Line Editing ========= -->
                <div>
                  <form ng-submit='vm.updateJob()' ng-show="vm.showEditJob">
                    <div layout="column" layout-padding>
                      <div class="">
                        <h2>Edit Your Job:</h2>
                      </div>
                      <md-input-container flex="60">
                        <label>Category</label>
                        <md-select ng-model="vm.job.categeory">
                          <md-option value="mechanical">Mechanical</md-option>
                          <md-option value="electronic">Electronic</md-option>
                          <md-option value="pets">Pets</md-option>
                          <md-option value="physicalLabor">Physical Labor</md-option>
                          <md-option value="misc">Misc</md-option>
                        </md-select>
                      </md-input-container>
                      <div layout="row">
                        <md-input-container flex="60">
                          <label class="md-hue-1">Title</label>
                          <input ng-model="vm.job.title" required type="text" placeholder="Job title..." ng-required="true">
                        </md-input-container>
                        <div flex="40">
                          <label>Date</label>
                          <md-datepicker ng-model="vm.job.createdDate" required md-placeholder="Enter date"></md-datepicker>
                        </div>
                      </div>
                      <md-input-container>
                        <label>Details</label>
                        <input ng-model="vm.job.details" required type="text" placeholder="Job details..." ng-required="true">
                      </md-input-container>
                      <md-input-container>
                        <label>Street</label>
                        <input ng-model="vm.job.location.street" required type="text" placeholder="Street..." ng-required="true">
                      </md-input-container>
                      <div layout="row">
                        <md-input-container flex>
                          <label>City</label>
                          <input ng-model="vm.job.location.city" required type="text" placeholder="City..." ng-required="true">
                        </md-input-container>
                        <md-input-container flex>
                          <label>State</label>
                          <md-select ng-model="vm.job.location.state" required>
                            <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                              {{state.abbrev}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                        <md-input-container flex>
                          <label>Zip</label>
                          <input ng-model="vm.job.location.zip" placeholder="Zipcode..." required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        </md-input-container>
                      </div>
                      <md-input-container flex="60">
                        <label>Points Offered</label>
                        <md-select ng-model="vm.job.currency" required placeholder="Points Offered..." ng-required="true">
                          <md-option value="5">5</md-option>
                          <md-option value="10">10</md-option>
                          <md-option value="20">20</md-option>
                          <md-option value="50">50</md-option>
                          <md-option value="100">100</md-option>
                        </md-select>
                      </md-input-container>
                      <div layout="row" layout-align="center center">
                        <md-button type="submit" ng-click="vm.editJob()" class="md-accent md-raised" style="background-color: #605768;">Submit Edit</md-button>
                        <md-button type="button" ng-click="vm.cancelEditJob()" class="md-accent md-raised" style="background-color: #73956F;">Cancel</md-button>
                      </div>
                    </form>
                  </div>
                  <!-- ========= In Line Editing ========= -->
                </md-card-content>
              </md-card>
            </div>
          </div>
          <div flex="25">
          </div>
        </div>
      </div>
