<div ng-controller="JobsViewController as vm">
  <div layout-padding class="viewTitle">
      Jobs In Your Area
  </div>

  <div layout="row" layout-wrap>
    <div flex="50">
      <div flex="80"ng-show="vm.jobs.length === 0">
        <div >
          <p class="noJobs">
            There are no current jobs in this category. Please check back!
          </p>
          <md-button class="md-raised viewAllBtn" ng-click="vm.viewAllCat()">View All</md-button>
        </div>
      </div>
        <md-card flex="90" class="jobViewCard" ng-repeat='j in vm.jobs | orderBy:"createdDate"'<a ui-sref="JobDetails({id: j._id})"></a>
          <md-card-content>
            <div ng-hide="j.isConfirmed || (j.declinedHandshake === nav.status.id)">
              <div ng-show="vm.isApplicant(j.applicants, nav.status.id)" class="appliedCheckView">
                <i class="zmdi zmdi-check-circle"></i>Applied!
              </div>
            </div>
            <div class="handshakeView" ng-show="j.isConfirmed"><i class="zmdi zmdi-thumb-up"><span style="color: #427AA1">
              Handshake Complete
            </span></i></div>
            <!-- <div class="handshakeView" ng-show="j.declinedHandshake === nav.status.id"><i class="zmdi zmdi-thumb-down"><span style="color: #E06C9F">
              Handshake Declined
            </span></i></div> -->
              <h2 class="md-title">{{j.title}}</h2>
            <h3 class="md-title">On {{j.createdDate | date}} At {{j.location.street}}, {{j.location.city}}, {{j.location.state}} {{j.location.zip}}</h3>
          </md-card-content>
        </md-card>
    </div>
    <div flex="50">
      <div flex="90" class="map">
        <script type="text/ng-template" id="searchbox.tpl.html">
        <input class='form-control' type="text" placeholder="Search Box">
        </script>
        <!-- <h1>{{vm.map.center}}</h1> -->

        <ui-gmap-google-map id='map' center='vm.map.center' zoom='vm.map.zoom' draggable="true">
          <ui-gmap-search-box template="vm.searchbox.template" events="vm.searchbox.events">
          </ui-gmap-search-box>
          <ui-gmap-marker options="{ draggable: true , icon: 'http://furtaev.ru/preview/user_on_map_2_small.png'}" idKey='1' coords='vm.map.center'>
          </ui-gmap-marker>

          <ui-gmap-circle ng-repeat="c in vm.circles track by c.id" center="vm.map.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
          visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
        </ui-gmap-circle>

        <ui-gmap-markers models='vm.places' coords='"coords"'>
        </ui-gmap-markers>

        </ui-gmap-google-map>
      </div>
      </div>

  </div>



        <!-- <ui-gmap-markers models='Markers' coords="'self'" icon="'icon'">
        </ui-gmap-markers>

        <ui-gmap-circle ng-repeat="c in vm.circles track by c.id" center="vm.map.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
              </ui-gmap-circle>


      </ui-gmap-google-map> -->


  <!-- google map -->
  <!-- <label class="col-md-2 control-label">Job Location</label>
  <div class="col-md-10" id="gmapsearchbox"> -->
  <!-- <script type="text/ng-template" id="searchbox.tpl.html"> -->
  <!-- <input id='address' class='nameinput' type="text" placeholder="Search Box">
</script>
</div> -->
<!-- Google Maps____ -->
<!-- parentdiv="searchBox.parentdiv" -->

<!-- <a ng-click='vm.getLocation()' class="btn btn-lg">Get location</a> -->


</div>
