<div ng-controller="JobsViewController as vm">
  <h1>This is Jobsview page</h1>
  <div layout="row" layout-wrap>
  <div flex="25">

  </div>
  <div flex="">
    <div ng-repeat='j in vm.jobs'>
    <md-card>
        <md-card-content>
          <h1 class="md-title">Title: {{j.title}}</h1>
          <!-- <h2 class="md-title">Details: {{j.details}}</h2> -->
          <h1 class="md-title">Date: {{j.createdDate | date}}</h1>
          <h2 class="md-title">Location: {{j.location.street}}, {{j.location.city}}, {{j.location.state}} {{j.location.zip}}</h2>
          <!-- <h2 class="md-title">City: {{j.location.city}}</h2>
          <h2 class="md-title">State: {{j.location.state}}</h2>
          <h2 class="md-title">Zipcode: {{j.location.zip}}</h2> -->

          <!-- <h1 class="md-title">Categeory: {{j.categeory}}</h1> -->
          <!-- <h2 class="md-title">Currency: {{j.currency}}</h2> -->
          <!-- <h2 class="md-title">Review: {{a.description}}</h2> -->
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ui-sref="JobDetails({id: j._id})" class="md-accent md-raised">See more here</md-button>
          <md-button ng-click="vm.deleteJob(j._id)" class="md-accent md-raised">Delete</md-button>


        </div>
      </md-card>
    </div>
  </div>

  <div flex="25">

  </div>
</div>
</div>
