<div ng-controller="LeaderboardController as vm">
  <div layout-padding class="viewTitle">
    Find You Here
  </div>
  <!-- <div style="margin-top:20px"> -->
  <div layout="row" layout-padding style="padding:40px">
    <md-card flex='33'>
      <md-card-content>
        <div layout='row' style="text-align:center">
          <div flex class="expIconLead"><i class="zmdi zmdi-wrench"></i> Experience
          </div>
        </div>
        <ol class="icon-list">
          <li ng-repeat="leader in vm.leaderboardPosts.experience | orderBy:'-experience' | limitTo:5">
            <span class="zmdi icon-color-{{$index}} {{vm.icons[$index]}}"></span>
            <span class="number">{{$index +1}}</span>
            <h2 style="display: inline-block">{{leader.username | uppercase}}: {{leader.experience}}</h2>
          </li>
        </ol>
      </md-card-content>
    </md-card>

    <md-card flex='33'>
      <md-card-content>
        <div layout='row'>
          <div flex class="currencyIconsDashLead"><i class="zmdi zmdi-plus-circle"></i> Currency
          </div>
        </div>
        <ol class="icon-list">
          <li ng-repeat="leader in vm.leaderboardPosts.currency | orderBy:'-currency' | limitTo:5">
            <span class="zmdi icon-color-{{$index}} {{vm.icons[$index]}}"></span>
            <span class="number">{{$index +1}}</span>
            <h2 style="display: inline-block">{{leader.username | uppercase}}: {{leader.currency}}</h2></li>
        </ol>
      </md-card-content>
    </md-card>

    <md-card flex='33'>
      <md-card-content>
        <div layout='row'>
          <div flex class="rateIconLead"><i class="zmdi zmdi-star"></i> Rating
          </div>
        </div>
        <ol class="icon-list">
          <li ng-repeat="leader in vm.leaderboardPosts.computedRating | orderBy:'-computedRating' | limitTo:5">
            <span class="zmdi icon-color-{{$index}} {{vm.icons[$index]}}"></span>
            <span class="number">{{$index +1}}</span>
            <h2 style="display: inline-block">{{leader.username | uppercase}}: {{leader.computedRating}}</h2></li>
        </ol>
      </md-card-content>
    </md-card>
  </div>
  <!-- </div> -->
</div>
