<div ng-controller="LeaderboardController as vm">
  <div layout-padding class="viewTitle">
    Find You Here
  </div>
  <!-- <div style="margin-top:20px"> -->
  <div layout="row" layout-padding style="padding:40px">
    <md-card flex='33'>
      <md-card-content>
        <div layout='row'>
        <img height="50" width="50" src='http://images.wikia.com/farmville/images/b/b4/XP-icon.png'>
        <h1>Experience</h1>
      </div>
        <ol id='listicon'>
        <li ng-repeat="leader in vm.leaderboardPosts.experience | orderBy:'-experience'  | limitTo:5"><h2>{{leader.username}}: {{leader.experience}}</h2></li>
      </ol>
      </md-card-content>
    </md-card>

    <md-card flex='33'>
      <md-card-content>
        <div layout='row'>
        <img height="50" width="50" src='https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/441/aiga_cashier-512.png'>
        <h1>Currency</h1>
      </div>
        <ol id='listicon'>
        <li ng-repeat="leader in vm.leaderboardPosts.currency | orderBy:'-currency' | limitTo:5"><h2>{{leader.username}}: {{leader.currency}}</h2></li>
      </ol>
      </md-card-content>
    </md-card>

    <md-card flex='33'>
      <md-card-content>
        <div layout='row'>
        <img height="50" width="50" src='https://cdn2.iconfinder.com/data/icons/rewards-1/512/vote-512.png'>
        <h1>Rating/5</h1>
      </div>
      <ol id='listicon'>
      <li ng-repeat="leader in vm.leaderboardPosts.computedRating | orderBy:'-computedRating' | limitTo:5"><h2>{{leader.username}}: {{leader.computedRating}}</h2></li>
    </ol>
      </md-card-content>
    </md-card>
  </div>
<!-- </div> -->
</div>
