<div ng-controller="ServicesController as vm">
  <div layout-padding class="viewTitle">
      View Jobs By Category
  </div>
  <div layout="row"  layout-align="center center" class="servicesDiv">
    <div layout="column">
      <md-button class="tileBtn btn1" ng-click="vm.viewAllCat()"><i class="zmdi zmdi-looks"></i>
View All</md-button>
      <md-button class="tileBtn btn2" ng-click="vm.viewMechanical()"><i class="zmdi zmdi-car-wash"></i>
Mechanical</md-button>
      <md-button class="tileBtn btn3" ng-click="vm.viewElectrical()"><i class="zmdi zmdi-flash"></i>
Electrical</md-button>
    </div>
    <div layout="column">
      <md-button class="tileBtn btn4" ng-click="vm.viewPets()"><i class="zmdi zmdi-toys"></i>
Pets</md-button>
      <md-button class="tileBtn btn5" ng-click="vm.viewPhysicalLabor()"><i class="zmdi zmdi-roller"></i>
Physical Labor</md-button>
      <md-button class="tileBtn btn6" ng-click="vm.viewMisc()"><i class="zmdi zmdi-flower-alt"></i>
Misc</md-button>
    </div>
  </div>
</div>
