<div ng-controller="ServicesController as vm">
  <div layout-padding class="viewTitle">
      View Jobs By Category
  </div>
  <div layout="row" class="buttonsDiv" layout-align="center center">
    <div layout="column" flex="40">
          <md-button class="tileBtn tileBtn1" ng-click="vm.viewAllCat()"><i class="zmdi zmdi-looks"></i>
View All</md-button>
          <md-button class="tileBtn tileBtn2" ng-click="vm.viewMechanical()"><i class="zmdi zmdi-car-wash"></i>
Mechanical</md-button>
          <md-button class="tileBtn tileBtn3" ng-click="vm.viewElectrical()"><i class="zmdi zmdi-flash"></i>
Electrical</md-button>
    </div>
    <div layout="column" flex="40">
          <md-button class="tileBtn tileBtn4" ng-click="vm.viewPets()"><i class="zmdi zmdi-toys"></i>
Pets</md-button>
          <md-button class="tileBtn tileBtn5" ng-click="vm.viewPhysicalLabor()"><i class="zmdi zmdi-roller"></i>
Physical Labor</md-button>
          <md-button class="tileBtn tileBtn6" ng-click="vm.viewMisc()"><i class="zmdi zmdi-flower-alt"></i>
Miscellaneous</md-button>
    </div>

  </div>
</div>
