<div layout="row" style="padding-top: 40px;">
  <div flex="25">
  </div>

  <!-- login -->
  <div flex="50" layout-padding class="loginDiv" ng-show="!isLogin">
    <div layout="column">

      <p ng-show='nowReg'>You're now registered, please login below</p>

      <form ng-submit="nav.loginUser()">
        <md-input-container>
          <label class="md-hue-1">Username</label>
          <input ng-model="nav.user.username" type="text">
        </md-input-container>
        <md-input-container>
          <label class="md-hue-1">Password</label>
          <input ng-model="nav.user.password" type="password">
        </md-input-container>

        <p ng-show='emailReset'>Please check your email to reset password.<p>

        <div style="text-align: center">
          <md-button class="loginButton" type="submit">Log in</md-button>
        </form>
          <br>
           <md-button type="button" class="md-flat" style="text-align:center" ng-click="nav.forgot(); emailReset = !emailReset" class="btn btn-primary">Forgot Password</md-button>
          <md-divider></md-divider>
          <md-button class="loginButton" type="button" ng-click="isLogin = !isLogin;">Sign Up</md-button>
        <br>

    <!-- Facebook -->
        <a href="/api/users/auth/facebook"><img src="https://palfbapps.com/apps/group/login_with_facebook.png" alt="FaceBook Button" height='50px' /></a>
      </div>

  </div>
</div>

  <!-- registration -->
  <div flex="50" layout-padding class="loginDiv" ng-show="isLogin">
    <div layout="column">

      <form ng-submit="nav.registerUser()">
        <md-input-container>
          <label class="md-hue-1">Username</label>
          <input ng-model="nav.user.username" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label class="md-hue-1">Email</label>
          <input ng-model="nav.user.email" type="email" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label class="md-hue-1">Password</label>
          <input flex ng-model="nav.user.password" type="password" ng-required="true" ng-password-strength="nav.user.password" strength="nav.passStrength">
          <!-- inner-class="progress-bar" inner-class-prefix="progress-bar-" -->
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> Confirm Password</label>
          <input ng-model="nav.user.confirmPassword" type="password" ng-required="true">
        </md-input-container>
        <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)">Your passwords must match.</div>

        <!-- experiment -->
        <div layout='row'>
          <div ng-password-strength="nav.user.password;"></div>
          <!-- inner-class="progress-bar" inner-class-prefix="progress-bar-" -->
          <div flex style="padding-top:12px;">Current password strength is <strong>{{nav.passStrength}}</strong>% </div>
          <md-button flex ng-click="showHints = !showHints">Password Hints</md-button>
        </div>

        <div ng-show='showHints'>
          <p style='text-align:right'>Number of Characters + n*4
            <br>
            Uppercase Letters (if any uppercase) + (len-n)*2
            <br>
            Lowercase Letters (if any lowercase) + (len-n)*2
            <br>
            Numbers (if any letter) + n*4
            <br>
            Symbols + n*6
            <br>
            Middle Numbers or Symbols + n*2
            <br>
            Requirements + n*2</p>
        </div>

        <p>Your Address:</p>
        <md-input-container>
          <label>Street</label>
          <input ng-model="nav.user.location.street" type="text" placeholder="Street..." ng-required="true">
        </md-input-container>
        <div layout="row">
          <md-input-container flex>
            <label>City</label>
            <input ng-model="nav.user.location.city" type="text" placeholder="City..." ng-required="true">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <md-select ng-model="nav.user.location.state" >
              <md-option ng-repeat="state in nav.states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Zip</label>
            <input ng-model="nav.user.location.zip" placeholder="Zipcode..." required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          </md-input-container>
        </div>

        <div style="text-align: center">
          <md-button type="submit" class="loginButton" ng-click="isLogin = !isLogin; nowReg = !nowReg;">Sign Up</md-button>
        </form>
          <md-divider></md-divider>
          <p>Already A Member?</p>
          <md-button class="loginButton" ng-click="isLogin = !isLogin;">Log in</md-button>
        </div>

    </div>
  </div>

    </div>
  </div>
</div>
