.angular-google-map-container {
  height: 520px;
  width:520px;
  margin-top: 8px;
}
.map {
  position: fixed;
}
.form-control{
  width:50%;
  height:30px;
}
body {
  font-family: 'Lato', sans-serif;
}
.tileBtn :hover{
  cursor: pointer;
}
/*navBar styling below*/
#navBar {
  color: black;
  background-color: white;
}
#navBar:hover {
  background-color: #F1FFFA;
}
#smartSamaritan {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  /*padding-left: 80px;*/
}
.navButtonTextColor {
  color: black;
  font-size: 16px;
}
/*navBar styling above*/
/*splash page styling below*/
.loginButton{
  font-size: 16px;
}
p {
  color: #605768;
}
.loginDiv {
  background-color: #DEE5E5;
  border-radius: 10px;
  margin-bottom: 40px;
}
/*splash page styling above*/
/*Create Job below*/
.createJobForm {
  margin-bottom: 40px;
  border-radius: 10px;
}
.jobPostHeader {
  background-color: #DEE5E5;
  height: 60px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  color: #605768;
}
.jobPostHeader h2 {
  padding-top: 10px;
}
.appliedCheck {
  color: #73956F;
  font-size: 40px;
}
/*Create Job Above*/
/*jobsView Below*/
.appliedCheckView {
  color: #73956F;
  font-size: 20px;
  text-align: right;
}
.handshakeView {
  color: #73956F;
  font-size: 20px;
  text-align: right;
}
.jobViewCard:hover {
  background-color: #DEE5E5;
  -moz-box-shadow:    0 0 20px #605768;
  -webkit-box-shadow: 0 0 20px #605768;
  box-shadow:         0 0 20px #605768;
}

.jobViewCard {
  margin-left: 30px;
}

.jobViewCard h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #08415C;
}
.jobViewCard h3 {
  text-align: center;
}

.viewTitle {
  font-size: 34px;
  text-align: center;
  padding-bottom: 20px;
  color: #605768;
}
.noJobs {
  text-align: center;
  font-size: 24px;
  padding-left: 40px;
  padding-top: 20px;
}
.viewAllBtn {
  margin-left: 180px;
}
/*.jobsViewAbove*/
/*services below*/
.servicesDiv {
  padding-top: 20px;
}
.tileBtn {
  margin:20px;
  padding: 20px 40px 20px 40px;
  font-size: 24px;
  border-bottom: 1px solid #DEE5E5;
  border-right: 1px solid #DEE5E5;
}
.btn1 {
  color: #73956F;
}
.btn2, .btn4, .btn6 {
  color: #08415C;
}
.btn3, .btn5 {
  color: #605768;
}
/*job details below*/
.jobTitle {
  font-size: 28px;
  font-weight: 700;
  color: #08415C;
}
.currencyIcons {
  font-size: 24px;
  color: #73956F;
}
.jobDetailsButton {
  background-color: #605768;
  color: white;
  font-size: 16px;
}
.jobDetailsButton2 {
  background-color: #73956F;
  color: white;
  font-size: 16px;
}
.chosenApplicantName {
  font-size: 24px;
  font-weight: 700;
  margin-top: -10px;
  color: #427AA1;
}
.congrats {
  font-size:24px;
  font-weight:700;
  color: #427AA1;
  text-align: center;
}
.applicantH2 {
  color: #08415C;
}
.detailsHeadings {
  font-weight: 700;
}
/*job details above*/
/*calendar below*/
.calendarTitle {
  text-decoration: none;
  color: #08415C;
  text-align: center;
  font-size: 20px;
}
.gridButty {
  border-radius: 10px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2) inset;
}
.gridButton:hover {
  -moz-box-shadow:    0 0 5px #605768;
  -webkit-box-shadow: 0 0 5px #605768;
  box-shadow:         0 0 5px #605768;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);

}


/*rating below*/

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:800px; margin:40px auto; }

/* RATING */
#rating { list-style:none; width:460px; margin:20px auto; }
#rating li { display:inline; float:left; }

.active {
  color: white;
  background-color: #605768;
  -moz-box-shadow:    0 0 2px #605768;
  -webkit-box-shadow: 0 0 2px #605768;
  box-shadow:         0 0 2px #605768;
}

#rating li a {
  display:block;
  width:80px;
  height:80px;
  margin:5px;
  background-color:#99DDC8;
  color: #99DDC8;
  text-indent: 40px;
  font-size: 40px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  -o-border-radius:40px;
}

#rating li a:hover,
#rating li a.active {
  color: white;
  background-color: #605768;
  -moz-box-shadow:    0 0 2px #605768;
  -webkit-box-shadow: 0 0 2px #605768;
  box-shadow:         0 0 2px #605768;
}


#listicon li:nth-child(1){
list-style-image: url('http://icons.iconarchive.com/icons/umar123/build/48/0041-Medal-Gold-icon.png');
}

#listicon li:nth-child(2){
list-style-image: url('http://icons.iconarchive.com/icons/umar123/build/48/0040-Medal-Silver-icon.png');
}

#listicon li:nth-child(3){
list-style-image: url('http://icons.iconarchive.com/icons/umar123/build/48/0039-Medal-Bronze-icon.png');
}

#listicon li:nth-child(4){
list-style-image: url('http://www.healthcareplusbeauty.com/App_Themes/Sample/images/4.gif');
}

#listicon li:nth-child(5){
list-style-image: url('http://www.healthcareplusbeauty.com/App_Themes/Sample/images/5.gif');
}
